#myCanvas{
    margin: auto;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    border: 2px solid rgb(79,185,227);
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}


#output {
    background-color:#dfdfdf;
}

.ram1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr;
    grid-gap: 3px;
}

.box {
    border: 1px solid black;
    margin-right: 5px;
}